# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Report directories
report

# Screenshot directories
errorShots

# Dependency directories
node_modules/

# Build directories
build/

# Optional npm cache directory
.npm

# IDE
.idea
